.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  object-fit: contain;
  width: 100%;
}

.login > a {
  text-decoration: none;
  padding: 20px;
  border-radius: 50px;
  font-weight: 800;
  color: #fff;
  background-color: #1db954;
}
